body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* table 1 */

.main1 table, td {
    border: 1px solid rgb(217, 211, 203);
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}

.main1 td {
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 22px;
    font-weight: 700;
}

.main1 table {
    margin-top: 50px;
    width: 780px;
}

.main1 tr:nth-child(11) {
    color:rgb(237, 28, 37);
}

.main1 tr:nth-child(2) {
    color:rgb(237, 28, 37);
}

.main1 td:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 100px;
}

.main1 caption {
    padding: 0px 3px 0px 3px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255, 242, 188);
    color: rgb(237, 28, 37);
    margin-bottom: 5px;
}
.main1 span {
    color: black;
}

.cyan {
    background-color: rgb(243, 243, 243);
}

.main1 tr:nth-child(6) td:nth-child(1) {
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 22px;
    font-weight: 700; 
}

.main1 tr:nth-child(9) td:nth-child(1) {
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 22px;
    font-weight: 700; 
}

.main1 tr:nth-child(1) td:nth-child(1) {
    color:rgb(237, 28, 37);
    font-weight: 600;
}

.main1 tr:nth-child(2) td:nth-child(2) {
    color:rgb(237, 28, 37);
    font-size: 30px;
}

/* table 2 */

.main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 780px;
}

.main2 table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(217, 211, 203);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main2 th, .main2 td {
    font-weight: 600;
    padding: 5px 10px 5px 10px ;
}

.main2 span, .dau td:nth-child(1), .duoi td:nth-child(2) {
    color: rgb(237, 28, 37);
}

.main2 table {
    margin: 20px 0px 50px 0px;
}

.dau td:nth-child(2), .dau th:nth-child(2) {
    text-align: left;
}

.duoi td:nth-child(1), .duoi th:nth-child(1) {
    text-align: right;
}

.duoi th:nth-child(2), .dau th:nth-child(1) {
    width: 120px;
}

.duoi th:nth-child(1), .dau th:nth-child(2) {
    width: 220px;
}

.main2 th, .main2 th {
    background-color: rgb(243, 243, 243);
}