* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

.alll {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.all {
    margin-top: 5%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;    
    position: relative;
}

.bg {
    height: 100%;
}

.moon {
    position: absolute;
    animation-name: moon-rotate;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 40%;
    top: -1%;
    left: 0%;
}

@keyframes moon-rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes lac {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

.one {
    position: absolute;
    height: 37%;
    bottom: 20%;
    left: 20%;
    animation: lac 0.5s linear 0s infinite alternate,beone 30s linear 0s infinite
}

@keyframes beone {
    0%{
        left: 100%;
        bottom: 40%;
    }
    14.3%{
        left: 82.9%;
        bottom: 30%;
    }
    28.6%{
        left: 65.7%;
        bottom: 25%;
    }
    42.9%{
        left: 48.6%;
        bottom: 21%;
    }
    57.1%{
        left: 31.4%;
        bottom: 18%;
    }
    71.4%{
        left: 14.3%;
        bottom: 17%;
    }
    85.7%{
        left: -2.9%;
        bottom: 20%;
    }
    100%{
        left: -20%;
        bottom: 30%;
    }
}

.two {
    position: absolute;
    height: 47%;
    left: 100%;
    bottom: 40%;
    animation: lac 0.5s linear 0s infinite alternate, betwo 30s linear 7s infinite;
    z-index: 1;
}

@keyframes betwo {
    0%{
        left: 100%;
        bottom: 40%;
    }
    14.3%{
        left: 80%;
        bottom: 30%;
    }
    28.6%{
        left: 60%;
        bottom: 25%;
    }
    42.9%{
        left: 40%;
        bottom: 21%;
    }
    57.1%{
        left: 20%;
        bottom: 18%;
    }
    71.4%{
        left: 0%;
        bottom: 17%;
    }
    85.7%{
        left: -20%;
        bottom: 20%;
    }
    100%{
        left: -40%;
        bottom: 30%;
    }
}

.three {
    position: absolute;
    height: 47%;
    left: 100%;
    bottom: 40%;
    animation: lac 0.5s linear 0s infinite alternate, bethree 30s linear 15s infinite
}

@keyframes bethree {
    0%{
        left: 100%;
        bottom: 40%;
    }
    14.3%{
        left: 81.4%;
        bottom: 30%;
    }
    28.6%{
        left: 62.9%;
        bottom: 25%;
    }
    42.9%{
        left: 44.3%;
        bottom: 21%;
    }
    57.1%{
        left: 25.7%;
        bottom: 18%;
    }
    71.4%{
        left: 7.1%;
        bottom: 17%;
    }
    85.7%{
        left: -11.4%;
        bottom: 20%;
    }
    100%{
        left: -30%;
        bottom: 30%;
    }
}

.cloud1 {
    position: absolute;
    height: 30%;
    top: 15%;
    animation-name: cloud1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes cloud1 {
    0% {
        top: 14%;
        left: 4%;
    }
    100% {
        top: 16%;
        left: 5%;
    }
}

.miss {
    position: absolute;
    height: 28%;
    top: 1%;
    left: 3.5%;
    opacity: 0.8;
}

.den1 {
    position: absolute;
    height: 22%;
    top: 15%;
    left: 55%;
    animation-name: denbay1;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes denbay1 {
    0% {
        transform: rotateZ(25deg);
    }
}

.den3 {
    position: absolute;
    height: 16%;
    top: 22%;
    left: 49%;
    animation-name: denbay3;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes denbay3 {
    0% {
        transform: rotateZ(90deg);
    }
}

.den4 {
    position: absolute;
    height: 10%;
    top: 26%;
    left: 45%;
    transform: rotate(-30deg);
    animation-name: denbay3;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes denbay3 {
    0% {
        transform: rotateZ(40deg);
    }
}

.den5 {
    position: absolute;
    height: 5%;
    top: 26%;
    left: 41%;
    transform: rotate(-30deg);
    animation-name: denbay5;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes denbay5 {
    0% {
        transform: rotateZ(40deg);
    }
}

.cau1 {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trung {    
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.thu {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.trang {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.sang {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.dinh {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.troi {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}

.cau2 {
    position: absolute;
    top: 11%;
    left: 38%;
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tre {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.em {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.khap {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.xom {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.vui {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.choi {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.ruoc {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}
.den {
    color:white;
    font-style: italic;
    font-size: 150%;
    text-shadow: 0px 0px 4px white;
}

.mp3 {
    position: absolute;
    bottom: 0%;
}

.wh1 {
    background-color: white;
    height: 500px;
    width: 50%;
    z-index: 2;
}

.wh2 {
    background-color: white;
    height: 500px;
    width: 50%;
    z-index: 2;
}