* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: cursive;
    border: 0px;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

.all {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.search div {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    box-shadow:0px 0px 4px 0px #ffffff;
}

.search div a i {
    color: white;
}

.search input {
    height: 30px;
    padding-left: 10px;
    width: 50%;
    box-shadow:0px 0px 4px 0px #ffffff;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.break {
    border-top: 1px solid #2e3740;
    box-shadow:0px 0px 2px 0px #ffffff;
}

.line ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    height: 30px;
}

.line ul a {
    text-decoration: none;
    color: white;
}

.line ul a:hover {
    text-shadow: 0px 0px 2px #ffffff;
}

/* title 1 */

.title1 {
    margin-top: 30px;
}

.title1 h2 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin-bottom: 5px;
}

.title1 div {
    background-color: #2e3740;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.title1 div img {
    width: 25%;
    margin-left: 20px;
    box-shadow:0px 0px 4px 0px #ffffff;
}

p {
    font-family: sans-serif;
    color: white;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: justify;
}

.title1 div p::first-letter{
    font-size: 50px;
}

/* title 2 */

.title2 {
    margin-top: 30px;
}

.title2 h2 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin-bottom: 5px;
}

.title2 div {
    background-color: #2e3740;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}

.title2 div img {
    width: 50%;
    box-shadow:0px 0px 4px 0px #ffffff;
    margin-bottom: 20px;
}

p {
    font-family: sans-serif;
    color: white;
    line-height: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.title2 div p::first-letter{
    font-size: 50px;
}

/* title 3 */

.title3 {
    margin-top: 30px;
}

.title3 h2 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin-bottom: 5px;
}

.title3 div {
    background-color: #2e3740;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}

.title3 div img {
    height: 156px;
    box-shadow:0px 0px 4px 0px #ffffff;
    margin-bottom: 20px;
}